opencv-python>=4.8.0
numpy>=1.24.0,<2.1.0
Pillow>=9.5.0
face-recognition==1.3.0
face-recognition-models>=0.3.0
torch>=2.0.0
torchvision>=0.15.0
cmake>=3.20
dlib>=19.20
CFFI>=1.0
nats-py>=2.3.0
aiokafka>=0.10.0
aiofiles>=25.0.0
requests>=2.31.0
pydantic>=2.0.0
sounddevice>=0.5.0
Click>=6.0
charset-normalizer>=2.0
idna>=2.5
urllib3>=1.21.1
certifi>=2017.4.17
colorama>=0.4.0
typing-extensions>=4.8.0
async-timeout>=5.0.0
packaging>=20.0
filelock>=3.0.0
jinja2>=3.0.0
fsspec>=0.8.5
sympy>=1.13.3
networkx>=2.5.1
mpmath>=1.1.0
MarkupSafe>=2.0
pydantic-core>=2.23.4
typing-inspection>=0.4.0
annotated-types>=0.6.0
